.divContainer {
    margin-top: 50px;
    min-height: 80px;
    height: auto;
    overflow: hidden;
    width: 1200px;
    box-sizing: border-box;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    font-family: Verdana;
}

.linha{
    height: 25px;
    width: inherit;
    display: flex;
    text-align: center;
    font-family: Verdana;
    padding-top: 7px;
}

.coluna {
    height: inherit;
    width: 200px;
    display: flex;
    text-align: center;
    font-family: Verdana;
    font-size: 1.1em;
    border-bottom: 2px solid black;
    margin-top: 5px;
    padding-top: 5px;
    z-index: 1;
}

.button2{
    box-sizing: border-box;
    height: 20px;
    width: 70px;
    font-family: Verdana;
    font-size: 0.8em;
    background-color: #B3FC88;
    border: 1px solid black;
}

.button2:hover{
    cursor: pointer;
}

.paginacao {
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    font-family: Verdana;
    color: white;
    font-size: 1.3em;
}

.buttonPaginacao {
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    margin-right: 15px;
    font-family: Verdana;
    color: white;
    font-size: 1.2em;
}

.buttonPaginacao:hover {
    cursor: pointer;
    font-style: bold;
}